<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Biglidio_MiniBlog::miniblog" title="Mini Blog" translate="title" sortOrder="900">
                        <resource id="Biglidio_MiniBlog::post" title="Posts" translate="title">
                            <resource id="Biglidio_MiniBlog::post_save" title="Save Post" translate="title"/>
                            <resource id="Biglidio_MiniBlog::post_delete" title="Delete Post" translate="title"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>